/* =========================
        RESET GENERAL
========================= */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* =========================
        HEADER
========================= */

header {
    background-color: #111827;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
    margin: 0;
    font-size: 32px;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
}

nav a:hover {
    color: #60a5fa;
}
